* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 60px;
  background: #0f172a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  transition: all 0.4s ease;
}

.nav-links li {
  cursor: pointer;
  position: relative;
}

/* underline animation */
.nav-links li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-links li:hover::after {
  width: 100%;
}

/* Menu icon */
.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* Responsive + slide animation */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    background: #0f172a;
    width: 100%;
    flex-direction: column;
    align-items: center;
    transform: translateY(-200%);
  }

  .nav-links.active {
    transform: translateY(0);
  }

  .nav-links li {
    padding: 15px 0;
  }
}
